.fab {
    width: 60px;
    height: 60px;
    right: 10px;
    bottom: 10px;
    background-color: #5399FF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    margin: 0 auto;
    height: 100%;
  }
  
  .fab:hover {
    box-shadow: 1px 1px 1px 1px #0049B2;
    
  }